/* src/client/src/components/css/TopBar.css */

.topbar {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: var(--bg-topbar);
}
/* Hamburger */
.menu-btn {
    background: none;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.2s, width 0.2s, height 0.2s;
}
.menu-btn:hover {
    background-color:var(--bg-hover);
    border-radius: 100%;
    transition: background-color 0.2s;
}
/* Logo */
.topbar-logo {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 8px
}

.logo-image {
    height: 35px;
    /* adjust to desired height */
    width: auto;
}

/* Search bar */
.topbar-search {
    flex: 1;
    display: flex;
    align-items: left;
    max-width: 1000px;
    /* max size to avoid sticking to edges */
    margin: 0 16px 0 84px;
    background-color: var(--bg-hover);
    border: 1px solid var(--border-color);
    border-radius: 24px;
    padding: 12px 8px;

}

.search-btn {
    background: none;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    margin-right: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input {
    border: none;
    outline: none;
    width: 100%;
    background-color: transparent;
    color: var(--text-color);
    font-size: 14px;
}

.search-input::placeholder {
    color: var(--text-color);
    opacity: 0.6;
}


/* Logout button */
.logout-btn {
    background-color: transparent;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 6px 12px;
    color: var(--text-color);
    cursor: pointer;
    font-size: 14px;
}

.logout-btn:hover {
    background-color: var(--bg-hover);
}

.topbar-userinfo {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 16px;
}
.topbar-userinfo-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.topbar-userinfo-name {
    font-weight: 500;
}
.topbar-userinfo-fallback {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #e0e0e0;
    color: #444;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 4px;
  }



  /* Theme toggle button */
.theme-btn {
  background: none;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.2s;
}

.theme-btn:hover {
  background-color: var(--bg-hover);
}


